[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
django = "*"
django-filter = "*"
django-environ = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
psycopg = {extras = ["binary", "pool"], version = "*"}
requests = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.10"
